@{
    ViewBag.Title = "About";
}
<br />
<h2>@ViewBag.Title</h2>
<br/>
<p>
    You can use this application to make a business trip request.
    <br/>
    Note that you have to be registered before you make a request!
</p>
