@{
    ViewBag.Title = "Contact";
}
<br />
<h2>@ViewBag.Title</h2>

<address>
    iQuest Technologies<br />
    Cluj-Napoca, Strada Someșului 14<br />
</address>

<address>
    <strong>Support:</strong>   <a style = "color:rgb(52, 58, 64); font-weight: bold" href="mailto:businesstripapplication@gmail.com">businesstripapplication@gmail.com</a><br />
</address>