@{
    ViewBag.Title = "VerifyAccount";
}

<h2>Verify Account</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Success!</strong> Your account has been activated successfully. You will be redirected ...
    </div>
    <meta http-equiv="refresh" content="3; url=https://localhost:44328/User/Dashboard/" />
}
else
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewBag.Message
    </div>
}