@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');
body {
    width: 100%;
    height: 100%;
    background: url('images/36892c14.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

a {
    font-size: 18px;
    font-family: 'Arima Madurai', cursive;
    color: white;
}

label {
    color: #6BD425;
    font-size: 12px;
}

.control-label {
    text-align: left;
    color: CaptionText;
    padding-left: 5px
}


p {
    font-size: 20px;
    color: rgb(52, 58, 64);
}
/* Set padding to keep content from hitting the edges */
.body-content {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    
    position: relative;
    z-index: 2;
    width: auto;
    height: 55em;
    padding-left: 10%;
    padding-right: 10%;
    background-attachment: fixed;
}
.index-background {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: url('images/36892c14.png');
    background-repeat: no-repeat;

    z-index: 1;
   width:100%;
   height:80em;
    background-attachment: fixed;
}
.nav_bar_dimension {
    padding-left: 10%;
    margin-left: 10px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.tooltip {
    margin-left: 100px;
}

.tooltip > .tooltip-inner {
    white-space: nowrap;
    max-width: none;
    padding: .5em 1em .4em;
    background-color: #f66;
    border: 1px solid #f00;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}
/* Tooltip on right */
.tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
}

.form-control {
    border-width: 2px;
    border-style: solid;
    border-color: ActiveBorder;
}

.input-validation-error {
    border: 2px solid #ff0000;
}

#btn_Create {
    opacity: 0.5;
}

#btn_LogIn {
    opacity: 0.5;
}

#simpleLabel {
    color: #6BD425;
}

.table td {
    text-align: center;
}